# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# CMake intermediate directories
build/

# Visual Studio's CMake integration
.vs/

# vcpkg integration
vcpkg_installed/


# Generated artifacts
Genesis/libs/GenesisCore/lib/
Genesis/libs/GenesisResComp/lib/
Genesis/libs/Genesis/
Game/bin/data/models/
Game/bin/data/shaders/
Game/bin/intermediates/
Game/bin/config.xml
Game/bin/forge.log
Game/bin/Nullscape.exe
Game/bin/Nullscape.ilk
Game/bin/Nullscape.pdb
Game/bin/imgui.ini
Game/bin/log.txt
Game/bin/Screenshot*.bmp
Genesis/bin/Compilers/
Genesis/bin/Forge.*
Genesis/bin/*.dll
Genesis/ext/

# DLLs. This should become Game/bin/*.dll once all DLLs are correctly deployed.
Game/bin/brotlicommon.dll
Game/bin/brotlidec.dll
Game/bin/bz2*.dll
Game/bin/freetype*.dll
Game/bin/libpng16*.dll
Game/bin/zlib*1.dll

# Blender temporary files
*.blend?