# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# CMake intermediate directories
build/

# Visual Studio's CMake integration
.vs/

# Generated artifacts
Genesis/libs/GenesisCore/lib/
Genesis/libs/GenesisResComp/lib/
Genesis/libs/Genesis/
Game/bin/data/models/
Game/bin/intermediates/
Game/bin/config.xml
Game/bin/Hyperscape.exe
Game/bin/Hyperscape.ilk
Game/bin/Hyperscape.pdb
Game/bin/imgui.ini
Game/bin/log.txt
Game/bin/Screenshot*.bmp
Genesis/bin/Compilers/
Genesis/bin/Forge.*
Genesis/bin/SDL2.dll
Genesis/ext/

# Blender temporary files
*.blend?