# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# CMake intermediate directories
build/

# Visual Studio's CMake integration
.vs/

# Generated artifacts
Genesis/libs/GenesisCore/lib/
Genesis/libs/Genesis/Windows/AMD64/
Game/bin/config.xml
Game/bin/Hyperscape.exe
Game/bin/Hyperscape.ilk
Game/bin/Hyperscape.pdb
Game/bin/imgui.ini
Game/bin/log.txt
Game/bin/Screenshot*.bmp
Genesis/bin/Forge.*
Genesis/bin/SDL2.dll