---
AccessModifierOffset: '-4'
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignTrailingComments: 'true'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: '200'
CompactNamespaces: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IndentWidth: '4'
Language: Cpp
PointerAlignment: Left
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
UseTab: Never

...
